<div class="navbar-fixed hide-on-small-only">
  <nav>
    <div class="nav-wrapper cyan">
      <ul class="left hide-on-med-and-down">
        <li>
          <a data-activates="side-nav" id="btn-collapse-side-nav">
            <i class="material-icons">polymer</i>
          </a>
        </li>
        <li>
          <a class="brand-logo">App store</a>
        </li>
      </ul>
      <ul class="right">
        <li><a [routerLink]="['/categories']">Apps</a></li>
        <li><a [routerLink]="['/shopping-list']">Upload app</a></li>
        <li><a href="#" (click)="logout($event)">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
