<div class="row">
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>{{selectedApplicationCategory?.name}} category</h4>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-default" (click)="toCategoryDetails()">Details</button>
    <button class="btn btn-primary" (click)="addNewApplication()">Create</button>
  </div>
  <div class="col-xs-12">
    <ul class="list-group">
      <as-app-item *ngFor="let application of applications; let i = index"
                            [application]="application"
                            [applicationId]="i">
      </as-app-item>
    </ul>
  </div>

</div>
