<div class="col s3 m3">
    <div class="card hoverable small">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator mycard" src="{{application.imagePath}}">
      </div>
      <div class="card-content">
        <span class="truncate card-title activator grey-text text-darken-4">{{application.name}}<i class="material-icons right">more_vert</i></span>
        <p><a [routerLink]="[applicationId, 'details']" routerLinkActive="active">Details</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
        <p>{{application.description}}</p>
      </div>
    </div>
</div>
