<a class="list-group-item clearfix" >
  <div class="pull-left">
    <a class="btn-lg btn-link" [routerLink]="[applicationId, 'details']" routerLinkActive="active">{{application.name}}</a>
    <div>
        <div class="col-xs-12">
            {{application.description | slice:0:40}} {{(application.description.length > 40) ? getCommas():"" }}
        </div>
    </div>
  </div>
  <span class="pull-right">
      <img class="img-responsive"
           src="{{application.imagePath}}"
           style="max-height: 50px;"/>
  </span>
</a>
