<div class="row as-margin-top">
  <div class="col-s8">
    <p class="left as-heading">Applications from '{{selectedApplicationCategory?.name}}' category</p>
  </div>
  <div class="right col-s4">
    <a class="waves-effect waves-light btn" (click)="toCategoryDetails()">Category details</a>
    <a class="waves-effect waves-light btn" (click)="addNewApplication()">Create app</a>
  </div>
</div>
<div class="row">
  <div class="col-s12">
    <ul class="list-group">
      <as-app-item *ngFor="let application of applications; let i = index"
                            [application]="application"
                            [applicationId]="i">
      </as-app-item>
    </ul>
  </div>

</div>
