<ul id="side-nav" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <img src="http://www.intrawallpaper.com/static/images/abstract-mosaic-background.png">
      </div>
      <a href="#!user"><img class="circle" src="http://www.freeiconspng.com/uploads/blue-user-icon-32.jpg"></a>
      <a href="#!name"><span class="white-text name">Anonymos user</span></a>
      <a href="#!email"><span class="white-text email">your@email.com</span></a>
    </div></li>
    <li><a href="#!">Signed as Anonymos</a></li>
    <li><div class="divider"></div></li>
    <li><a routerLink="/login"><i class="material-icons">vpn_key</i>Sign In</a></li>
    <li><a routerLink="/logout"><i class="material-icons">call_received</i>Sign Out</a></li>
    <li><a routerLink="/signin"><i class="material-icons">perm_contact_calendar</i>Register</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#!">Settings</a></li>
    <li><a href="#!">Help</a></li>

</ul>
