<ul id="side-nav" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <img src="http://site.josholding.com/polymer/images/statements/vision.jpg">
      </div>
      <a href="#!user"><img class="circle" src="https://smartcoderteam.github.io/images/alexei.jpg"></a>
      <a href="#!name"><span class="white-text name">Eraskin Alexei</span></a>
      <a href="#!email"><span class="white-text email">levrun1@gmail.com</span></a>
    </div></li>
    <li><a routerLink="/categories"><i class="material-icons">cloud</i>Profile</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Categories</a></li>
    <li *ngFor="let applicationCategory of applicationsCategories; let i = index">
      <a class="waves-effect" routerLink="/categories/{{i}}/apps">{{applicationCategory.name}}</a>
    </li>
</ul>
