<div class="row as-margin-top">
  <div class="col-s8">
    <p class="left as-heading">Application with name '{{selectedApplication.name}}'</p>
  </div>
  <div class="right col-s4">
    <div class="fixed-action-btn horizontal click-to-toggle">
      <a class="btn-floating btn-large red">
        <i class="material-icons">menu</i>
      </a>
      <ul>
        <li><a class="btn-floating red tooltipped" data-position="top" data-delay="50" data-tooltip="Edit application"><i class="material-icons" (click)="onEdit()">edit</i></a></li>
        <li><a class="btn-floating yellow darken-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Download application"><i class="material-icons" (click)="onDownload()">file_upload</i></a></li>
        <li><a class="btn-floating red tooltipped" data-position="top" data-delay="50" data-tooltip="Delete application"><i class="material-icons"(click)="onDelete()">delete</i></a></li>
      </ul>
    </div>
  </div>

</div>

<div class="col s6 m6">
  <div class="card small">
    <div class="card-image">
      <img class="materialboxed" width="650" attr.data-caption="{{selectedApplication.name}} - {{selectedApplication.description}}" src="{{selectedApplication.imagePath}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{selectedApplication.name}}<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{selectedApplication.name}}<i class="material-icons right">close</i></span>
      <p>{{selectedApplication.description}}</p>
    </div>
  </div>
</div>
