<div class="col-s8">
  <p class="left as-heading">{{getNameOfTheForm()}}</p>
</div>
<div class="right col-s4">
  <a *ngIf="!appForm.valid" class="waves-effect waves-light btn disabled">Save</a>
  <a *ngIf="appForm.valid" class="waves-effect waves-light btn" (click)="onSubmit()">Save</a>
  <a class="waves-effect waves-light btn" (click)="onCancelEdit()">Cancel</a>
</div>

<div class="row">
  <div class="col s12">
    <form [formGroup]="appForm" style="padding:15px 15px 15px 15px;" class="z-depth-3" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col s12">
          <div class="form-group input-field">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
              >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="form-group input-field">
            <label for="image-url">Image Url</label>
            <input
              type="text"
              id="image-url"
              class="form-control"
              formControlName="imagePath"
              #imageUrl
              >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="img">
            <img [src]="imageUrl.value">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="form-group input-field">
            <label for="content">Descripton</label>
            <textarea
              type="text"
              id="content"
              rows="6"
              class="form-control materialize-textarea"
              formControlName="description"
              ></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
