
<div *ngIf="isDataAvailable">

<div class="col-s8">
  <p class="left as-heading as-margin-bottom-top-small as-padding-bottom-top-small" (click)="showHide()">Top 5 applications</p>
</div>
<div class="right col-s4">
   <a class="waves-effect waves-teal btn-flat as-margin-bottom-top-small as-padding-bottom-top-small" (click)="showHide()">{{showHideButtonTitle}}</a>
</div>

<div *ngIf="isShowTop5" materialize="carousel" class="carousel z-depth-3 as-margin-bottom-small">

   <a class="carousel-item" *ngFor="let application of applications; let i = index">
     <div class="card small">
       <div class="card-image waves-effect waves-block waves-light">
         <img class="circle activator responsive-img" src="{{application.imagePath}}">
       </div>
       <div class="card-content">
         <span class="truncate card-title activator grey-text text-darken-4">{{application.name}}<i class="material-icons right">more_vert</i></span>
         <a routerLink="0/apps/{{i}}/details">Details</a>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">{{application.name}}<i class="material-icons right">close</i></span>
         {{application.description}}
       </div>
     </div>
   </a>
</div>

</div>

<div class="row">
  <div class="col-s12 center">
    <div *ngIf="!isDataAvailable" class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isShowTop5" class="divider" style="margin:15px 0px;"></div>
