<div class="row as-margin-top">
  <div class="col-s8">
    <p class="left as-heading">Category with name '{{selectedApplicationCategory?.name}}'</p>
  </div>
  <div class="right col-s4">
    <div class="fixed-action-btn horizontal click-to-toggle">
      <a class="btn-floating btn-large red">
        <i class="material-icons">menu</i>
      </a>
      <ul>
        <li><a class="btn-floating red tooltipped" data-position="top" data-delay="50" data-tooltip="Edit category"><i class="material-icons" (click)="onEdit()">edit</i></a></li>
        <li><a class="btn-floating yellow darken-1 tooltipped" data-position="top" data-delay="50" data-tooltip="To shopping list"><i class="material-icons" (click)="onAddToShoppingList()">shopping_cart</i></a></li>
        <li><a class="btn-floating red tooltipped" data-position="top" data-delay="50" data-tooltip="Delete category"><i class="material-icons"(click)="onDelete()">delete</i></a></li>
      </ul>
    </div>
  </div>

</div>

<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="{{selectedApplicationCategory?.imagePath}}">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">{{selectedApplicationCategory?.name}}<i class="material-icons right">more_vert</i></span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{selectedApplicationCategory?.name}}<i class="material-icons right">close</i></span>
    <p>{{selectedApplicationCategory?.description}}</p>
  </div>
</div>
