<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedApplicationCategory?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedApplicationCategory?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onAddToShoppingList()">put Apps to Shopping Cart</button>
    <button class="btn btn-primary" (click)="onEdit()">Edit Category</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete Category</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedApplicationCategory?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of selectedApplicationCategory?.ingredients">{{item.name}} ({{item.amount}})</li>
    </ul>
  </div>
</div>
