  <div materialize="carousel" class="carousel as-margin-bottom-small">
    <a class="carousel-item">
        <img onclick="Materialize.showStaggeredList('#staggered-test1')" src="https://atomate.net/hire-javascript-developers/united-kingdom/london/img/p-logo.png">
        	  <div class="center col-s8">
              <ul id="staggered-test1">
                <li>
                  <a class="center as-heading">Welcome to App Store</a> 
                </li>
             </ul>
            </div>
    </a>
    <a class="carousel-item">
        <img onclick="Materialize.showStaggeredList('#staggered-test2')" src="http://www.glasscubelab.com/images/mobile-development.png">
        <div class="center col-s8">
              <ul id="staggered-test2">
                <li>
                  <a class="center as-heading" routerLink="categories">Select categories</a> 
                </li>
             </ul>
            </div>
    </a>
    <a class="carousel-item">
        <img onclick="Materialize.showStaggeredList('#staggered-test3')" src="https://upload.wikimedia.org/wikipedia/commons/6/67/Facebook_logo_thumbs_up_like_transparent.png">
        <div class="center col-s8">
              <ul id="staggered-test3">
                <li>
                  <a class="center as-heading" routerLink="categories/0/apps">Choose apps you like</a> 
                </li>
             </ul>
            </div>
    </a>
    <a class="carousel-item">
        <img onclick="Materialize.showStaggeredList('#staggered-test4')" src="http://breezepass.com/images/steps/Sign_Up-512.png">
        <div class="center col-s8">
              <ul id="staggered-test4">
                <li>
                  <a class="center as-heading" routerLink="categories">Don't forget to sign up</a> 
                </li>
             </ul>
            </div>
    </a>
    <a class="carousel-item">
        <img onclick="Materialize.showStaggeredList('#staggered-test5')" src="http://www.fordesigner.com/imguploads/Image/cjbc/zcool/png20080526/1211781906.png">
        <div class="center col-s8">
              <ul id="staggered-test5">
                <li>
                  <a class="center as-heading" routerLink="categories">And you can download favorite apps</a> 
                </li>
             </ul>
            </div>
    </a>
  </div>

  