  <div materialize="carousel" class="carousel as-margin-bottom-small">
    <a class="carousel-item">
        <img src="https://atomate.net/hire-javascript-developers/united-kingdom/london/img/p-logo.png">
        <div class="center col-s8">
          <a class="center as-heading">Welcome to App Store</a>
        </div>
    </a>
    <a class="carousel-item">
        <img src="http://www.glasscubelab.com/images/mobile-development.png">
        <div class="center col-s8">
          <a class="center as-heading" routerLink="categories">Select categories</a>
        </div>
    </a>
    <a class="carousel-item">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Facebook_logo_thumbs_up_like_transparent.png">
        <div class="center col-s8">
          <a class="center as-heading" routerLink="categories">Choose app you like</a>
        </div>
    </a>
    <a class="carousel-item">
        <img src="http://breezepass.com/images/steps/Sign_Up-512.png">
        <div class="center col-s8">
          <a class="center as-heading" routerLink="categories">Don't forget to sign up</a>
        </div>
    </a>
    <a class="carousel-item">
        <img src="http://www.fordesigner.com/imguploads/Image/cjbc/zcool/png20080526/1211781906.png">
        <div class="center col-s8">
          <a class="center as-heading" routerLink="categories">And you can download favorite apps</a>
        </div>
    </a>
  </div>

  